@{
    ViewData["Title"] = "TheNights page";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content='Avicii "The Nights": Once upon a younger year When all our shadows disappeared The animals inside came out to play Went f...'
    />
    <meta
      name="keywords"
      content="The Nights lyrics, Avicii The Nights lyrics, Avicii lyrics"
    />
    <meta name="robots" content="noarchive" />
    <meta property="og:image" content="//www.azlyrics.com/az_logo_tr.png" />
    <title>Avicii - The Nights Lyrics | AZLyrics.com</title>

    <link
      rel="canonical"
      href="https://www.azlyrics.com/lyrics/avicii/thenights.html"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/local/az.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      window.rtkGPTSlotsTargeting = [
        [
          ["genre", "pop"],
          ["artist", "Avicii"],
        ],
      ];
    </script>
    <script
      src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"
      data-language="en"
      type="text/javascript"
      charset="UTF-8"
      data-domain-script="464b7175-7273-4e0f-8753-e9a483d4a156"
    ></script>
    <script type="text/javascript">
      function OptanonWrapper() {}
    </script>

    <script type="text/javascript">
      ArtistName = "Avicii";
      SongName = "The Nights";
      function submitAdded() {
        document.getElementById("addsong").submit();
        return false;
      }
      function submitCorrected() {
        document.getElementById("corlyr").submit();
        return false;
      }
    </script>

    <link rel="stylesheet" href="https://a.pub.network/core/pubfig/cls.css" />
    <script data-cfasync="false" type="text/javascript">
      var freestar = freestar || {};
      freestar.queue = freestar.queue || [];
      freestar.config = freestar.config || {};
      freestar.config.enabled_slots = [];
      freestar.initCallback = function () {
        freestar.config.enabled_slots.length === 0
          ? (freestar.initCallbackCalled = false)
          : freestar.newAdSlots(freestar.config.enabled_slots);
      };
    </script>
    <script
      src="https://a.pub.network/azlyrics-com/pubfig.min.js"
      async
    ></script>
  </head>
  <body class="az-song-text">

    <!-- main -->
    <div class="container main-page">
      <div class="text-center noprint">
        <!-- Tag ID: azlyrics_atf_leaderboard -->
        <div
          align="center"
          data-freestar-ad="__320x50 __728x90"
          id="azlyrics_atf_leaderboard"
        >
          <script data-cfasync="false" type="text/javascript">
            freestar.config.enabled_slots.push({
              placementName: "azlyrics_atf_leaderboard",
              slotId: "azlyrics_atf_leaderboard",
            });
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 text-center hidden-md hidden-sm hidden-xs noprint">
          <div class="sky-ad"></div>
        </div>

        <!-- content -->
        <div class="col-xs-12 col-lg-8 text-center">
          <div class="div-share noprint">
            <div class="addthis_toolbox addthis_default_style">
              <a
                href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.azlyrics.com%2Flyrics%2Favicii%2Fthenights.html&amp;title=Avicii%20-%20The%20Nights%20Lyrics%20%7C%20AZLyrics.com&amp;display=page"
                target="_blank"
                class="btn btn-xs btn-share addthis_button_facebook"
              >
                <span class="playblk"
                  ><img
                    src="//www.azlyrics.com/images/share-icons/facebook.svg"
                    width="25"
                    height="25"
                    class="playblk"
                    alt="Share on Facebook"
                    title="Share on Facebook"
                /></span>
              </a>
              <a
                href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.azlyrics.com%2Flyrics%2Favicii%2Fthenights.html&amp;text=Avicii%20-%20The%20Nights%20Lyrics%20%7C%20AZLyrics.com"
                target="_blank"
                class="btn btn-xs btn-share addthis_button_twitter"
              >
                <span class="playblk"
                  ><img
                    src="//www.azlyrics.com/images/share-icons/twitter.svg"
                    width="25"
                    height="25"
                    class="playblk"
                    alt="Share on Twitter"
                    title="Share on Twitter"
                /></span>
              </a>
              <a
                href="mailto:?subject=Avicii%20-%20The%20Nights%20Lyrics%20%7C%20AZLyrics.com&amp;body=https%3A%2F%2Fwww.azlyrics.com%2Flyrics%2Favicii%2Fthenights.html"
                target="_blank"
                class="btn btn-xs btn-share addthis_button_email"
              >
                <span class="playblk"
                  ><img
                    src="//www.azlyrics.com/images/share-icons/email.svg"
                    width="25"
                    height="25"
                    class="playblk"
                    alt="Email"
                    title="Email"
                /></span>
              </a>
              <a
                class="btn btn-xs btn-share addthis_button_print"
                style="margin-right: 0px !important"
                href="javascript:void(window.print());"
              >
                <span class="playblk"
                  ><img
                    src="//www.azlyrics.com/images/share-icons/print.svg"
                    width="25"
                    height="25"
                    class="playblk"
                    alt="Print"
                    title="Print"
                /></span>
              </a>
            </div>
          </div>

          <div class="div-share"><h1>"The Nights" lyrics</h1></div>

          <div class="lyricsh">
            <h2>
              <a href="//www.azlyrics.com/a/avicii.html"
                ><b>Avicii Lyrics</b></a
              >
            </h2>
          </div>

          <div class="ringtone">
            <span id="cf_text_top"></span>
          </div>

          <b>"The Nights"</b><br />
          <br />

          <div>
            <!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
            Once upon a younger year<br />
            When all our shadows disappeared<br />
            The animals inside came out to play<br />
            Went face to face with all our fears<br />
            Learned our lessons through the tears<br />
            Made memories we knew would never fade<br />
            <br />
            One day my father—he told me<br />
            &quot;Son, don't let it slip away&quot;<br />
            He took me in his arms, I heard him say<br />
            <br />
            &quot;When you get older<br />
            Your wild heart will live for younger days<br />
            Think of me if ever you're afraid&quot;<br />
            <br />
            He said, &quot;One day you'll leave this world behind<br />
            So, live a life you will remember&quot;<br />
            My father told me when I was just a child<br />
            &quot;These are the nights that never die&quot;<br />
            My father told me<br />
            <br />
            &quot;When thunder clouds start pouring down<br />
            Light a fire they can't put out<br />
            Carve your name into those shining stars&quot;<br />
            He said, &quot;Go venture far beyond the shores<br />
            Don't forsake this life of yours<br />
            I'll guide you home no matter where you are&quot;<br />
            <br />
            One day my father—he told me<br />
            &quot;Son, don't let it slip away&quot;<br />
            When I was just a kid I heard him say<br />
            <br />
            &quot;When you get older<br />
            Your wild heart will live for younger days<br />
            Think of me if ever you're afraid&quot;<br />
            <br />
            He said, &quot;One day you'll leave this world behind<br />
            So, live a life you will remember&quot;<br />
            My father told me when I was just a child<br />
            &quot;These are the nights that never die&quot;<br />
            My father told me<br />
            <br />
            &quot;These are the nights that never die&quot;<br />
            My father told me<br />
            My father told me
          </div>

          <br /><br />

          <!-- MxM banner -->
          <div class="noprint" id="azmxmbanner" style="display: none">
            <script>
              if (
                /Android|webOS|iPhone|iPod|iPad|BlackBerry|IEMobile|Opera Mini/i.test(
                  navigator.userAgent
                )
              ) {
                document.getElementById("azmxmbanner").style.display = "block";
                document.write(
                  '<div style="margin-left: auto; margin-right: auto;">' +
                    '<iframe scrolling="no" style="border: 0px none; overflow:hidden;" src="//adv.mxmcdn.net/br/t1.0/m_js/e_0/sn_0/l_29284798/su_0/rs_0/tr_3vUCABqlorXhyC7v7zi_rM-PiJrBEt8uvBQujVL8vlNIHsbafy5OPdSlnJYR_DfKuVTYEIBdM2AJidCBMK_ngg1istxdbINjzxf1Tah6ggRVkLsmT5DPwdCmqZjE8Y-S83NSSCn8hQKFgZiS4nKj456hsuk8IAudGjSzV5UxpVPEl4n6A3HfyO9ddX7cPkXF9RgiCiNFfpKn26_ednyt_zLhjsUXaBH0xMji-JWWjoc21-JATpQjdY2uaIEa4tGOpQa2TsGD6SyzAoXZKUYgPd4qQvAgrRjeDZGu4swWffiMhbMWMvSJBS8-yy6HmMfSLruV80rwDCm-Bd0T8_7BnKmGFk7k6YjFObYobwVoeq9uPHgFT9U87iDE5r6968UifNPWULSxedfwnXcQahrlGuGKhocCRoJdZZj5dbvzKA7_FpPyBsGy9FDVFhLeOJOduoDSmg/" width="290px" height="50px"></iframe>' +
                    "</div>"
                );
              }
            </script>
            <br /><br />
          </div>

          <form id="addsong" action="../../add.php" method="post">
            <input type="hidden" name="what" value="add_song" />
            <input type="hidden" name="artist" value="Avicii" />
            <input type="hidden" name="artist_id" value="3831" />
          </form>

          <form id="corlyr" action="../../add.php" method="post">
            <input type="hidden" name="what" value="correct_lyrics" />
            <input type="hidden" name="song_id" value="383104" />
          </form>

          <div class="smt noprint">
            <a class="btn btn-primary" href="#" onclick="submitCorrected()"
              ><span class="glyphicon glyphicon-pencil"></span> Submit
              Corrections</a
            >
          </div>

          <div class="smt">
            <small
              >Thanks to ArcherG., Galaxy, Beatriz Gámez Illera, Justin B for
              correcting these lyrics.<br
            /></small>
          </div>

          <div class="noprint" style="padding: 15px 0">
            <span id="cf_text_bottom"></span>
          </div>

          <!-- credits -->
          <div class="smt">
            <small
              >Writer(s): Ash Pournouri, John William Feldmann, Tim Bergling,
              Jordan Suecof, Gabriel Benjamin, Nicholas Furlong</small
            >
            <br />
          </div>

          <!-- song facts -->
          <div class="panel album-panel noprint">
            The sound to this song was inspired by the bars in Ireland, where
            the upbeat folk music is played that is easy to dance to. Like
            Avicii's previous hits "Wake Me Up" and "Hey Brother", this song is
            a progressive-house song containing elements of folk rock.
          </div>
          <div class="panel album-panel noprint">
            Nicholas Furlong, who co-wrote this song, contributed his vocals
            though they weren't credited. He said that he wrote this as an ode
            to his father.
          </div>
          <div class="panel album-panel noprint">
            "The Nights" was released as a digital download by PRMD Music and
            Universal Island on Avicii's "The Days / Nights" EP on the 1st ot
            December 2014. The song also appears on the UK version of his second
            studio album "Stories" (2015).
          </div>
          <div class="panel album-panel noprint">
            This song peaked at number six on the UK Singles Chart and number
            one on the UK Dance Chart.
          </div>
          <div class="panel album-panel noprint">
            Avicii released his own remix of the song, entitled "The Nights
            (Avicii by Avicii)", on the 23rd of January 2015.
          </div>
          <div class="panel album-panel noprint">
            This song is featured on the soundtrack of EA Sports' game "FIFA
            15".
          </div>

          <div class="abovebreadcrumb noprint">
            <!-- Tag ID: azlyrics_btf_2 -->
            <div
              align="center"
              data-freestar-ad="__300x250 __728x90"
              id="azlyrics_btf_2"
            >
              <script data-cfasync="false" type="text/javascript">
                freestar.config.enabled_slots.push({
                  placementName: "azlyrics_btf_2",
                  slotId: "azlyrics_btf_2",
                });
              </script>
            </div>
          </div>

          <!-- artist link -->
          <ol
            class="breadcrumb noprint"
            itemscope
            itemtype="https://schema.org/BreadcrumbList"
          >
            <li
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a itemprop="item" href="//www.azlyrics.com"
                ><span itemprop="name">AZLyrics</span></a
              ><meta itemprop="position" content="1" />
            </li>
            <li
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a itemprop="item" href="//www.azlyrics.com/a.html"
                ><span itemprop="name">A</span></a
              ><meta itemprop="position" content="2" />
            </li>
            <li
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/ListItem"
            >
              <a itemprop="item" href="//www.azlyrics.com/a/avicii.html"
                ><span itemprop="name">Avicii Lyrics</span></a
              ><meta itemprop="position" content="3" />
            </li>
          </ol>

          <!-- album songlists -->
          <!-- album songlists end -->
          <div class="panel songlist-panel noprint">
            <div class="songinalbum_title"><b>You May Also Like</b></div>
            <div class="listalbum-item">
              <a href="https://www.azlyrics.com/lyrics/mkto/americandream.html"
                >MKTO - "American Dream"</a
              >
              <small
                >Do something with your life With your life We broke down tryna
                leave town Flying down the road to change We were born to run,
                Cali here we come Escape from Nowhere, USA Say goodbye to white
                picket...</small
              >
            </div>
            <div class="listalbum-item">
              <a href="https://www.azlyrics.com/lyrics/nicovinz/amiwrong.html"
                >Nico &amp; Vinz - "Am I Wrong"</a
              >
              <small>
                Am I wrong for thinking out the box from where I stay? Am I
                wrong for saying that I choose another way? I ain't tryna do
                what everybody else doing Just cause everybody doing what they
                all do If one...</small
              >
            </div>
            <div class="listalbum-item">
              <a href="https://www.azlyrics.com/lyrics/kygo/stoletheshow.html"
                >Kygo - "Stole The Show"</a
              >
              <small
                >Darling, darling, oh, turn the lights back on now Watching,
                watching, as the credits all roll down Crying, crying, you know
                we're playing to a full house, house No heroes, villains, one to
                blame...</small
              >
            </div>
            <div class="listalbum-item">
              <a
                href="https://www.azlyrics.com/lyrics/rudimental/thesedays.html"
                >Rudimental - "These Days"</a
              >
              <small>
                I know you moved onto someone new Hope life is beautiful You
                were the light for me to find my truth I just wanna say, thank
                you Leaving to find my soul Told her I had to go And I know it
                ain't...</small
              >
            </div>
            <div class="listalbum-item">
              <a
                href="https://www.azlyrics.com/lyrics/dimitrivegaslikemike/instagram.html"
                >Dimitri Vegas &amp; Like Mike, David Guetta &amp; Daddy Yankee
                - "Instagram"</a
              >
              <small
                >Just bought a black Ferrari House in the hills in L.A. Say that
                you take care of me Sorry, but I don't need a plan like that
                Don't need a man like that What'd you say? You say that you've
                been on...</small
              >
            </div>
          </div>
          <form
            class="search noprint"
            method="get"
            action="//search.azlyrics.com/search.php"
            role="search"
          >
            <div style="margin-bottom: 15px" class="input-group">
              <input type="text" class="form-control" placeholder="" name="q" />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </span>
            </div>
          </form>

          <div
            class="noprint"
            style="margin-top: 5px; margin-bottom: 5px"
          ></div>
        </div>
        <!-- content -->

        <div class="col-lg-2 text-center hidden-md hidden-sm hidden-xs noprint">
          <div class="sky-ad"></div>
        </div>
      </div>
    </div>
    <!-- container main-page -->

    <!-- nav bottom -->
    <nav class="navbar navbar-default navbar-bottom">
      <div class="container text-center">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="#" onclick="submitAdded()">Submit Lyrics</a></li>
          <li><a href="//www.stlyrics.com">Soundtracks</a></li>
          <li>
            <a href="//www.facebook.com/pages/AZLyricscom/154139197951223"
              >Facebook</a
            >
          </li>
          <li><a href="//www.azlyrics.com/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- footer -->
    <nav class="navbar navbar-footer noprint">
      <div class="container text-center">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="//www.azlyrics.com/adv.html">Advertise Here</a></li>
          <li><a href="//www.azlyrics.com/privacy.html">Privacy Policy</a></li>
          <li><a href="//www.azlyrics.com/cookie.html">Cookie Policy</a></li>
          <li><a href="//www.azlyrics.com/copyright.html">DMCA Policy</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-wrap">
      <div class="container">
        <div class="noprint">
          <span
            style="font-weight: bold; line-height: 54px; vertical-align: top"
            >Lyrics licensed by </span
          ><img
            src="//www.azlyrics.com/images/mxm.png"
            width="184"
            height="54"
            alt="MusixMatch"
          />
        </div>
        <small>
          <script type="text/javascript">
            curdate = new Date();
            document.write(
              "<strong>Copyright &copy; 2000-" +
                curdate.getFullYear() +
                " AZLyrics.com<\/strong>"
            );
          </script>
        </small>
      </div>
    </div>

    <script>
      cf_page_artist = ArtistName;
      cf_page_song = SongName;
      cf_page_genre = "pop";
      cf_no_bit = 0;
    </script>
    <script src="/local/anew.js"></script>
    <script>
      cf_adunit_id = "100004759";
    </script>
    <script src="//srv.tunefindforfans.com/fruits/apricots.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-4309237-1"]);
      _gaq.push(["_trackPageview"]);

      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <div id="CssFailCheck" class="hidden" style="height: 1px"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="//www.azlyrics.com/local/jquery.min.js"><\/script>'
        );
    </script>
    <script>
      $(function () {
        if ($("#CssFailCheck").is(":visible") === true) {
          $(
            '<link rel="stylesheet" type="text/css" href="//www.azlyrics.com/bs/css/bootstrap.min.css"><link rel="stylesheet" href="//www.azlyrics.com/bsaz.css">'
          ).appendTo("head");
        }
      });
    </script>
    <script src="/local/az.js"></script>
    <script src="/geo.js"></script>
    <script
      type="text/javascript"
      src="https://tracking.musixmatch.com/t1.0/m_js/e_0/sn_0/l_29284798/su_0/rs_0/tr_3vUCABqlorXhyC7v7zi_rM-PiJrBEt8uvBQujVL8vlNIHsbafy5OPdSlnJYR_DfKuVTYEIBdM2AJidCBMK_ngg1istxdbINjzxf1Tah6ggRVkLsmT5DPwdCmqZjE8Y-S83NSSCn8hQKFgZiS4nKj456hsuk8IAudGjSzV5UxpVPEl4n6A3HfyO9ddX7cPkXF9RgiCiNFfpKn26_ednyt_zLhjsUXaBH0xMji-JWWjoc21-JATpQjdY2uaIEa4tGOpQa2TsGD6SyzAoXZKUYgPd4qQvAgrRjeDZGu4swWffiMhbMWMvSJBS8-yy6HmMfSLruV80rwDCm-Bd0T8_7BnKmGFk7k6YjFObYobwVoeq9uPHgFT9U87iDE5r6968UifNPWULSxedfwnXcQahrlGuGKhocCRoJdZZj5dbvzKA7_FpPyBsGy9FDVFhLeOJOduoDSmg/"
    ></script>
  </body>
</html>
